<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP 10 MOVIES</title>

    <style>
        .details-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f8f8;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        /* Style for individual detail boxes */
        .details-box {
            margin-bottom: 15px;
        }
    
        /* Style for title box */
        .title-box {
            border-bottom: 2px solid #333;
            padding-bottom: 10px;
        }
    
        .title-box p {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }
    
        /* Style for strong tags */
        .details-box strong {
            font-weight: bold;
        }
    
        /* Style for links */
        .details-box a {
            color: #007bff;
            text-decoration: none;
        }
    
        .details-box a:hover {
            text-decoration: underline;
        }
    
        /* Style for review text */
        .review-text {
            font-style: italic;
            color: #555;
        }
    </style>
</head>
<body>
    <div class="details-container">
        <h1>TOP 10 MOVIES</h1>
<% for(let i = 0; i < option1.length; i++) { %>
        <div class="details-box">
            <p><strong>Title:</strong> <%= option1[i].title %></p>
        </div>
        <div class="details-box">
            <p><strong>Genre:</strong>  <%= option1[i].genre %></p>
        </div>
        <div class="details-box">
            <p><strong>Release_date:</strong> <%= option1[i].release_date %></p>
        </div>
        <div class="details-box">
            <p><strong>Runtime:</strong> <%= option1[i].runtime %> minutes</p>
        </div>
        <div class="details-box">
            <p><strong>Budget:</strong> <%= option1[i].budget %></p>
        </div>

        <div class="details-box">
            <p><strong>Revenue:</strong> <%= option1[i].revenue%></p>
        </div>
        <hr></hr>
        <!-- Add more details as needed -->
    <% } %>
    </div>
</body>
</html>